SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/financebot
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=1234
TELEGRAM_BOT_TOKEN=replace-with-token
TELEGRAM_WEBHOOK_SECRET=replace-with-webhook-secret
APP_BASE_URL=http://localhost:8080
